@model IEnumerable<TestDataBase.Prisutnost>

@{
    ViewBag.Title = "Prisutnost";
}

<h2>Prisutnost</h2>

<p>
    @Html.ActionLink("Napravi novu listu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DnevnikRada.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dete.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DnevnikRada.OpisRada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evidencija)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DnevnikRada.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dete.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DnevnikRada.OpisRada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evidencija)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { PrisutnostID = item.PrisutnostID, DnevnikRadaID = item.DnevnikRadaID, DeteID = item.DeteID}) |
            @Html.ActionLink("Details", "Details", new { PrisutnostID = item.PrisutnostID, DnevnikRadaID = item.DnevnikRadaID, DeteID = item.DeteID }) |
            @Html.ActionLink("Delete", "Delete", new { PrisutnostID = item.PrisutnostID, DnevnikRadaID = item.DnevnikRadaID, DeteID = item.DeteID })
        </td>
    </tr>
}

</table>
